
<div class="footer_box_line"></div>

<div class="footer_container">
	<div class="footer_box" style="background:#d2d2d2">
		<div class="spacer_4"></div>
		<div class="footer_logo">Land Registry</div>
    	<div class="spacer_4"></div>
    	<div class="footer_navigation">
    		<a class="footer_links" href="#">Link 1</a> &nbsp;&nbsp;&nbsp;
    		<a class="footer_links" href="#">Link 2</a> &nbsp;&nbsp;&nbsp;
    		<a class="footer_links" href="#">Link 3</a> &nbsp;&nbsp;&nbsp;
    		<a class="footer_links" href="#">Link 4</a> &nbsp;&nbsp;&nbsp;
    		<a class="footer_links" href="#">Link 5</a> &nbsp;&nbsp;&nbsp;
    	</div>
    	<div class="spacer_4"></div>
    </div>
</div>

