{{<layout}}

{{$pageTitle}}
	HMRC > BRAMA 
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div id = "global-breadcrumb" class = "header-context" style="background-color:transparent">
    <ol class = "group" role = "breadcrumbs">
        <li>
          <a href = "../../index">Home</a>
        </li>
        <li>
          ATED prototypes
        </li>
      </ol>
  	</div>

	<h2 class="heading-large brama-shrink-padding-3">Annual Tax on Enveloped Dwellings (ATED)</h2>
	<!-- feel free to change this page to suit your needs -->

	<h3 class="heading-medium brama-shrink-padding-1 subtitle_line">Business registration & subscription</h3>

  <div class="brama-spacer"></div>

  <div>
    <a href="#" target="_blank"> <img src="/public/images/user-journeys2.png"></a>
    <!--<img src="/public/images/flow1.png" href="/public/images/flow2.png" target="blank">-->
  </div>

  <div class="brama-spacer"></div>

	<p><font class="text-bold">User journey 1 </font><br><font class="text-medium-link">I'm a business with a HMRC digital footprint (known) looking to subscribe to ATED from Gov.uk</font><br><a class="text-medium-link" href="subscription/journey1/gov_uk">Start user journey</a></p>

  <p><font class="text-bold">User journey 2 </font><br><font class="text-medium-link">I'm a business with a HMRC digital footprint (known) looking to subscribe to ATED from YTA</font><br><a class="text-medium-link" href="subscription/journey2/login">Start user journey</a></p>

  <p><font class="text-bold">User journey 3 </font><br><font class="text-medium-link">I'm a business without a HMRC digital footprint (unknown but known on paper) looking to subscribe to ATED from Gov.uk</font><br><a class="text-medium-link" href="subscription/journey3/gov_uk">Start user journey</a></p>

  <p><font class="text-bold">User journey 4 </font><br><font class="text-medium-link">I'm a new business without a HMRC digital footprint (unknown) looking to subscribe to ATED from Gov.uk</font><br><a class="text-medium-link" href="subscription/journey4/gov_uk">Start user journey</a></p>

  <div class="brama-spacer"></div>

  <h3 class="heading-medium brama-shrink-padding-1 subtitle_line">Services</h3>

  <div class="brama-spacer"></div>

  <div>
    <a href="#" target="_blank"> <img src="/public/images/user-journeys2.png"></a>
    <!--<img src="/public/images/flow1.png" href="/public/images/flow2.png" target="blank">-->
  </div>

  <div class="brama-spacer"></div>

  <p><font class="text-bold">User journey 1 </font><br><font class="text-medium-link">I'm a business looking to send a return for a relief property for first time</font><br><a class="text-medium-link" href="service/journey1/YTA_populated_some">Start user journey</a></p>

  <p><font class="text-bold">User journey 1 </font><br><font class="text-medium-link">I'm a business looking to send a return for a chargeable property for first time</font><br><a class="text-medium-link" href="#">Start user journey</a></p>

  <p><font class="text-bold">User journey 1 </font><br><font class="text-medium-link">I'm an agent looking to send a return for multiple relief and chargeable properties with 4 tax periodS at ATED</font><br><a class="text-medium-link" href="#">Start user journey</a></p>

</main>

{{/content}}

{{/layout}}
