{{<layout}}

{{$pageTitle}}
	HMRC > BRAMA 
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div id = "global-breadcrumb" class = "header-context" style="background-color:transparent">
    <ol class = "group" role = "breadcrumbs">
        <li>
          <a href = "../../index">Home</a>
        </li>
        <li>
          ATED prototypes
        </li>
      </ol>
  	</div>

	<h2 class="heading-large brama-shrink-padding-3">Annual Tax on Enveloped Dwellings (ATED)</h2>
	<!-- feel free to change this page to suit your needs -->

	<h3 class="heading-medium brama-shrink-padding-1 subtitle_line">User journeys</h3>

  <div class="brama-spacer"></div>

  <div>
    <a href="#" target="_blank"> <img src="/public/images/user-journeys2.png"></a>
    <!--<img src="/public/images/flow1.png" href="/public/images/flow2.png" target="blank">-->
  </div>

  <div class="brama-spacer"></div>

	<p><font class="text-bold">User journey 1 </font><br><font class="text-italic">Use case: I'm a business with a HMRC digital relationship looking for subscribe to a new service</font><br><a class="text-medium" href="user_journey_1_login">Start user journey</a></p>

  <p><font class="text-bold">User journey 2 </font><br><font class="text-italic">Use case: I'm a business without an HMRC digital relationship looking for subscribe to an online service for first time</font><br><a class="text-medium" href="user_journey_2_login">Start user journey</a></p>

  <p><font class="text-bold">User journey 3 </font><br><font class="text-italic">Use case: I'm a business with/without an HMRC digital relationship invited by Comms to subscribe to a specific online service</font><br><a class="text-medium" href="#">Start user journey</a></p>

</main>

{{/content}}

{{/layout}}
