{{<layout}}

{{$pageTitle}}
	HMRC > BRAMA 
{{/pageTitle}}

{{$propositionHeader}}
<div id="brama-agent-name">John Smith, Acme Limited &nbsp;|&nbsp; <a href="index" class="ated-logout-link"><font color='#2B8CC4'>Sign out</font></a></div>
{{/propositionHeader}}

{{$content}}

<main id="content" role="main">

  <div id = "global-breadcrumb" class = "header-context" style="background-color:transparent">
    <ol class = "group" role = "breadcrumbs">
        <li>
          <a href = "../../../../index">Home</a>
        </li>
        <li>
          Appoint an agent
        </li>
      </ol>
  </div>

  <h2 class="heading-large brama-shrink-padding-3">Appoint an agent</h2>

  <div class="nav-container">
        <nav role="navigation">
            <ol class="brama-progress">
              <li class="brama-progress-active">
                    1. Agent details
                </li><li class="brama-progress-indicator brama-progress-thinner">
                  &nbsp;
              </li><li class="brama-progress-indicator">
                    2. Review details
                </li><li class="brama-progress-indicator brama-progress-thinner">
                  &nbsp;
              </li><li class="brama-progress-indicator">
                    3. Confirmation
                </li><li class="brama-progress-indicator brama-progress-wider-end4">
                  &nbsp;
              </li>
            </ol>
        </nav>
  </div>

  <div class="brama-spacer"></div>

  <p class="panel-indent">To appoint an agent, you must send a request with the appropriate permissions. The agent can act on your behalf or have read only access. They can accept or reject this request.</p>

  <h3 class="heading-medium brama-shrink-padding subtitle_line">Agent details</h3>

  <div class="brama-spacer"></div>
    
  <div>

      <form> 

        <div>
          <label class="form-label" for="business_address0">Agent name</label>
          <input class="form-control brama-input-mediumform" type="text" value="">
        </div> 

        <div class="brama-spacer"></div>

        <div>
          <label class="form-label" for="business_address0">Agent reference number</label>
          <p class="text-gray">Reference provided by your agent.</p>
          <input class="form-control brama-input-mediumform" type="text" value="">
        </div> 

        <div class="brama-spacer"></div>

        <div>
          <label class="form-label" for="business_address0">Business service</label>
          <select onChange="window.location.href=this.value" id = 'choose' class="brama-dropdown3">
                    <option value="selected">Select</option>
                    <option value="#">AMLS</option>
                    <option value="#">ATED</option>
          </select>
        </div> 

        <div class="brama-spacer"></div>

        <div>
          <label class="form-label" for="business_address0">Permissions</label>
          <select onChange="window.location.href=this.value" id = 'choose' class="brama-dropdown3">
                    <option value="selected">Select</option>
                    <option value="#">Act on behalf of</option>
                    <option value="#">Read only</option>
          </select>
        </div>        

      </form>

  </div>



  <div class="brama-spacer"></div>

  <div class="brama-spacer"></div>

  <div class="brama-spacer"></div>

  <a href = "review_details"><input type="submit" value="Send request to agent" class="button"></a>

  <div class="brama-spacer2"></div>

  <a id="save_application" href="#" class="brama-vertically-centered-text2">Cancel</a>

</main>

<script>
function show_div()
{
	var option = document.getElementById('choose');
	if (option.value == '1')
	{
		document.getElementById("hidden-form-1").style.display = 'inline-block';
     	document.getElementById("hidden-form-2").style.display = 'none';	}
	else if (option.value =='2')
	{
		document.getElementById("hidden-form-1").style.display = 'none';
     	document.getElementById("hidden-form-2").style.display = 'inline-block';
	}
}



     document.getElementById("hidden-form-1").style.display = 'none';
     document.getElementById("hidden-form-2").style.display = 'none';

    <!--
     // function show_div(x){
      //	document.getElementById(x).style.display = 'inline-block'
      //}


    //-->
</script>


{{/content}}

{{/layout}}
