{{<layout}}

{{$pageTitle}}
	HMRC > BRAMA 
{{/pageTitle}}

{{$propositionHeader}}
<div id="brama-agent-name">John Smith, Acme Limited &nbsp;|&nbsp; <a href="index" class="ated-logout-link"><font color='#2B8CC4'>Logout</font></a></div>
{{/propositionHeader}}

{{$content}}

<main id="content" role="main">

  <div id = "global-breadcrumb" class = "header-context" style="background-color:transparent">
    <ol class = "group" role = "breadcrumbs">
        <li>
          <a href = "../../../../index">Home</a>
        </li>
        <li>
          Agent designation
        </li>
      </ol>
  </div>

  <h2 class="heading-large brama-shrink-padding-3">Agent designation</h2>

  <div class="nav-container">
        <nav role="navigation">
            <ol class="brama-progress">
              <li class="brama-progress-active">
                    1. Agent details
                </li><li class="brama-progress-indicator brama-progress-thinner">
                  &nbsp;
              </li><li class="brama-progress-indicator">
                    2. Review details
                </li><li class="brama-progress-indicator brama-progress-thinner">
                  &nbsp;
              </li><li class="brama-progress-indicator">
                    3. Confirmation
                </li><li class="brama-progress-indicator brama-progress-wider-end4">
                  &nbsp;
              </li>
            </ol>
        </nav>
  </div>

  <div class="brama-spacer5"></div>

  <div class="brama-spacer"></div>

  <p class="brama-no-record2">You are now ready to send an agent designation request to an specific agent to access to business services on behalf your business details or view mode only. In any case the agent could accept or reject your designation request.</p>

  <h3 class="heading-medium brama-shrink-padding subtitle_line">Agent details</h3>

  <div class="brama-spacer"></div>
    
  <div>

      <form> 

        <div>
          <label class="form-label" for="business_address0">Agent name</label>
          <input class="form-control brama-input-mediumform" type="text" value="">
        </div> 

        <div class="brama-spacer"></div>

        <div>
          <label class="form-label" for="business_address0">Agent reference number</label>
          <input class="form-control brama-input-mediumform" type="text" value="">
          &nbsp; <a href="#" target="_blank"> <img src="/public/images/icon-information.png" class="brama-vertically-centered-icon"></a>
        </div> 

        <div class="brama-spacer"></div>

        <div>
          <label class="form-label" for="business_address0">Business service</label>
          <select onChange="window.location.href=this.value" id = 'choose' class="brama-dropdown3">
                    <option value="selected">Select</option>
                    <option value="#">AMLS</option>
                    <option value="#">ATED</option>
          </select>
        </div> 

        <div class="brama-spacer"></div>

        <div>
          <label class="form-label" for="business_address0">Permissions</label>
          <select onChange="window.location.href=this.value" id = 'choose' class="brama-dropdown3">
                    <option value="selected">Select</option>
                    <option value="#">On behalf Acme Limited</option>
                    <option value="#">Read mode only</option>
          </select>
        </div>        

      </form>

  </div>



  <div class="brama-spacer"></div>

  <div class="brama-spacer"></div>

  <div class="brama-spacer"></div>

  <a href = "review_details"><input type="submit" value="Send designation request to agent" class="button"></a>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <a id="save_application" href="#" class="brama-vertically-centered-text2">Cancel agent designation</a>

</main>

<script>
function show_div()
{
	var option = document.getElementById('choose');
	if (option.value == '1')
	{
		document.getElementById("hidden-form-1").style.display = 'inline-block';
     	document.getElementById("hidden-form-2").style.display = 'none';	}
	else if (option.value =='2')
	{
		document.getElementById("hidden-form-1").style.display = 'none';
     	document.getElementById("hidden-form-2").style.display = 'inline-block';
	}
}



     document.getElementById("hidden-form-1").style.display = 'none';
     document.getElementById("hidden-form-2").style.display = 'none';

    <!--
     // function show_div(x){
      //	document.getElementById(x).style.display = 'inline-block'
      //}


    //-->
</script>


{{/content}}

{{/layout}}
