{{<layout}}

{{$pageTitle}}
	HMRC > BRAMA 
{{/pageTitle}}

{{$propositionHeader}}
<div id="brama-agent-name">John Smith, Acme Limited &nbsp;|&nbsp; <a href="index" class="ated-logout-link"><font color='#2B8CC4'>Logout</font></a></div>
{{/propositionHeader}}

{{$content}}

<main id="content" role="main">

	<div id = "global-breadcrumb" class = "header-context" style="background-color:transparent">
    <ol class = "group" role = "breadcrumbs">
        <li>
          <a href = "../../../../index">Home</a>
        </li>
        <li>
          Agent designation
        </li>
      </ol>
  </div>

  <h2 class="heading-large brama-shrink-padding-3">Agent designation</h2>
  <!-- feel free to change this page to suit your needs -->

  <div class="nav-container">
        <nav role="navigation">
            <ol class="brama-progress">
              <li class="brama-progress-indicator">
                    1. Agent details
                </li><li class="brama-progress-indicator brama-progress-thinner">
                  &nbsp;
              </li><li class="brama-progress-active">
                    2. Review details
                </li><li class="brama-progress-indicator brama-progress-thinner">
                  &nbsp;
              </li><li class="brama-progress-indicator">
                    3. Confirmation
                </li><li class="brama-progress-indicator brama-progress-wider-end4">
                  &nbsp;
              </li>
            </ol>
        </nav>
  </div>

  <div class="brama-spacer5"></div>

  <h3 class="heading-medium brama-shrink-padding-1">Review details</h3>

  <div class="brama-spacer2"></div>

  <div>

      <table>
      <tr>
        <th>Agent name</th>
        <td>Agents Union Limited</td>
        <td></td>
      </tr>
      <tr>
        <th>Agent reference number</th>
        <td>GG123456789</td>
        <td></td>
      </tr>
      <tr>
        <th>Business service</th>
        <td>ATED</td>
        <td></td>
      </tr>
      <tr>
        <th>Permissions</th>
        <td>On behalf Acme Limited</td>
        <td></td>
      </tr>
    </table>

    <div class="brama-spacer"></div>

    <div class="brama-spacer"></div>

      <table>
        <tr >
          <td class="brama-no-line"><img src="/public/images/icon-important.png" class="brama-vertically-centered-icon"></td>
          <td class="brama-no-line text-medium2">You are now ready to send an agent designation request to HMRC. By sending the request you declare the above information is accurate and complete to the best of your knowledge and you agree with the <a href="#">HMRC agents terms & conditions</a>. </td>
        </tr>
      </table>

    <div class="brama-spacer"></div>

    <div class="brama-spacer"></div>

    <a href = "confirmation"><input type="submit" value="Save & register account now" class="button"></a>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <a id="save_application" href="#" class="brama-vertically-centered-text2">Cancel agent designation</a>
          
  </div>

</main>

{{/content}}

{{/layout}}
