{{<layout}}

{{$pageTitle}}
	HMRC > BRAMA 
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <div id = "global-breadcrumb" class = "header-context" style="background-color:transparent">
    <ol class = "group" role = "breadcrumbs">
        <li>
          <a href = "../../index">Home</a>
        </li>
        <li>
          <a href = "business_registration_index">Business registration</a>
        </li>
        <li>
          User journey 1
        </li>
    </ol>
  </div>

  <h2 class="heading-large brama-shrink-padding-3">ATED subscription</h2>
  <!-- feel free to change this page to suit your needs -->

  <div class="nav-container">
        <nav role="navigation">
            <ol class="brama-progress">
                <li class="brama-progress-indicator">
                    <a href="user_journey_1_business_details" class="brama-progress-link">1. Business details</a>
                </li><li class="brama-progress-indicator brama-progress-thinner">
                  &nbsp;
              </li><li class="brama-progress-active">
                    2. Subscription details
                </li><li class="brama-progress-indicator brama-progress-thinner">
                  &nbsp;
              </li><li class="brama-progress-indicator">
                    3. Review details
                </li><li class="brama-progress-indicator brama-progress-thinner">
                  &nbsp;
              </li><li class="brama-progress-indicator">
                    4. Confirmation
                </li><li class="brama-progress-indicator brama-progress-wider">
                  &nbsp;
              </li>
            </ol>
        </nav>
  </div>

  <h3 class="heading-medium brama-shrink-padding-1">Subscription details</h3>

  <div class="brama-spacer2"></div>

  <p>Please complete the below form to complete your ATED subscription. All fields are mandatory</p>

  <div class="brama-spacer2"></div>
    
  <div>

      <form>

        <div>
          <label class="form-label" for="business_address0">Details 1</label>
          <input class="form-control brama-input-mediumform" type="text" value="">
          &nbsp; <a href="#" target="_blank"> <img src="/public/images/icon-information.png" class="brama-vertically-centered-icon"></a>
        </div>  

        <div class="brama-spacer"></div>

        <div>
          <label class="form-label" for="business_address0">Details 2</label>
          <input class="form-control brama-input-mediumform" type="text" value="">
        </div>  

        <div class="brama-spacer"></div>

        <div>
          <label class="form-label" for="business_address0">Details 3</label>
          <input class="form-control brama-input-mediumform" type="text" value="">
        </div>  

        <div class="brama-spacer"></div>

        <div>
          <label class="form-label" for="business_address0">Details 4</label>
          <input class="form-control brama-input-mediumform" type="text" value="">
        </div>          

      </form>

  </div>

  <div class="brama-spacer"></div>

  <div class="brama-spacer"></div>

  <a href = "user_journey_1_review_details"><input type="submit" value="Save and continue" class="button"></a>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <a id="save_application" href="#" class="brama-vertically-centered-text2">Cancel subscription</a>

</main>

<script>
function show_div()
{
	var option = document.getElementById('choose');
	if (option.value == '1')
	{
		document.getElementById("hidden-form-1").style.display = 'inline-block';
     	document.getElementById("hidden-form-2").style.display = 'none';	}
	else if (option.value =='2')
	{
		document.getElementById("hidden-form-1").style.display = 'none';
     	document.getElementById("hidden-form-2").style.display = 'inline-block';
	}
}



     document.getElementById("hidden-form-1").style.display = 'none';
     document.getElementById("hidden-form-2").style.display = 'none';

    <!--
     // function show_div(x){
      //	document.getElementById(x).style.display = 'inline-block'
      //}


    //-->
</script>


{{/content}}

{{/layout}}
