{{<layout}}

{{$pageTitle}}
	HMRC > BRAMA
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div id = "global-breadcrumb" class = "header-context" style="background-color:transparent">
    <ol class = "group" role = "breadcrumbs">
        <li>
          <a href = "../../index">Home</a>
        </li>
        <li>
          <a href = "business_registration_index">Business registration</a>
        </li>
        <li>
          User journey 1
        </li>
    </ol>
  </div>

	<h2 class="heading-large brama-shrink-padding-3">Your Tax Account</h2>
	<!-- feel free to change this page to suit your needs -->

  <div>
    <img src="/public/images/gap.png"></a>
  </div>

  <div class="brama-spacer2"></div>

  <div class="brama-grey-panel">

      <div>

        <h3 class="heading-medium brama-shrink-padding-2">Business services</h3>

        <table>

            <tr class="brama-small-gap">
              <td class="brama-heavy brama-no-line">Subscriptions (8)</td>
              <td class="brama-heavy brama-no-line">Services (0)</td>
              <td class="brama-heavy brama-no-line">Agents (4) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="#" class="brama-normal-link">Manage agents</a></td>
            </tr>

            <tr class="brama-small-gap">
              <td class="brama-no-line">
                    <select onChange="window.location.href=this.value" id = 'choose' class="brama-dropdown">
                    <option value="selected">Select</option>
                    <option value="#">AMLS</option>
                    <option value="user_journey_1_start_page">ATED</option>
                    <option value="#">AWRS</option>
                    <option value="#">Corporation Tax</option>
                    <option value="#">PAYE</option>
                    <option value="#">Pensions</option>
                    <option value="#">SEIS</option>
                    <option value="#">VAT</option>
                    </select>
              </td>
              <td class="brama-no-line">
                    <div class="brama-dropdown-disabled">No subscribed services</div>
              </td>
              <td class="brama-no-line">
                    <select id = 'choose' onChange = 'show_div();' class="brama-dropdown">
                    <option value="selected">Select</option>
                    <option value="1">Agents Corporation</option>
                    <option value="2">Agents United </option>
                    <option value="2">Agents & Associates</option>
                    <option value="2">Global Agents UK</option>
                    </select>
              </td>
            </tr>

            <tr class="brama-small-gap">
              <td class="brama-no-line"></td>
              <td class="brama-no-line"></td>
              <td class="brama-no-line"></td>
            </tr>

        </table>

      </div>

  </div>

  <div class="brama-spacer"></div>

</main>

{{/content}}

{{/layout}}
