{{<layout}}

{{$pageTitle}}
	HMRC > BRAMA 
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="nav-container">
        <nav role="navigation">
            <ol class="brama-progress">
                <li class="brama-progress-indicator">
                    1. Search business
                </li><li class="brama-progress-indicator brama-progress-thinner">
                  &nbsp;
              </li><li class="brama-progress-active">
                    2. Business details
                </li><li class="brama-progress-indicator brama-progress-thinner">
                  &nbsp;
              </li><li class="brama-progress-indicator">
                    3. Additional details
                </li><li class="brama-progress-indicator brama-progress-thinner">
                  &nbsp;
              </li><li class="brama-progress-indicator">
                    4. Review details
                </li><li class="brama-progress-indicator brama-progress-thinner">
                  &nbsp;
              </li><li class="brama-progress-indicator">
                    5. Confirmation
                </li><li class="brama-progress-indicator brama-progress-wider-end2">
                  &nbsp;
              </li>
            </ol>
        </nav>
    </div>

	<h2 class="heading-large brama-shrink-padding-3">Business registration</h2>
  <!-- feel free to change this page to suit your needs -->

  <div class="nav-container">
        <nav role="navigation">
            <ol class="brama-progress">
                <li class="brama-progress-active">
                    1. Business lookup
                </li><li class="brama-progress-indicator brama-progress-thinner3">
                  &nbsp;
              </li><li class="brama-progress-indicator">
                    2. Business details
                </li><li class="brama-progress-indicator brama-progress-thinner3">
                  &nbsp;
              </li><li class="brama-progress-indicator">
                    3. Confirmation
                </li><li class="brama-progress-indicator brama-progress-wider3">
                  &nbsp;
              </li>
            </ol>
        </nav>
  </div>

	<h3 class="heading-medium brama-shrink-padding-1">Business lookup</h3>

  <div class="brama-spacer2"></div>

	<p>We will match your business details with our records to validate your identity and speed up the registration process</p>

  <div class="brama-spacer2"></div>

  <label class="form-label">Type of business</label>

	<select id = 'choose' onChange = 'show_div();' class="brama-dropdown2">
        <option value="selected">Select</option>
        <option value="1">Individual / Sole Trader</option>
        <option value="2">Limited company</option>
        <option value="3">Limited Liability Partnership</option>
        <option value="4">Ordinary Business Partnership</option>
        <option value="5">Unincorporated Body</option>

  </select>

  &nbsp; <a href="#" target="_blank"> <img src="/public/images/icon-information.png" class="brama-vertically-centered-icon"></a>

    <div class="brama-spacer"></div>

    <div id="hidden-form-1">

        <div class="brama-spacer"></div>

        <div class="form-group">
            <label class="form-label">Unique Tax Reference</label>
            <input class="form-control brama-input-mediumform" type="text" value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="checkbox-telephone-number" type="checkbox" value="checkbox-telephone-number">
              I don't have a Unique Tax Reference
            </label>
        </div>

        <a href = "user_journey_2_no_match"><input type="submit" value="Save and continue" class="button"></a>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <a id="save_application" href="#" class="brama-vertically-centered-text2">Cancel business registration</a>

  	</div>

    <div id="hidden-form-2">

        <div>
            <label class="form-label" for="business_address0">Business name</label>
            <input class="form-control brama-input-mediumform" type="text" value="">
        </div>

        <div class="brama-spacer"></div>

        <div class="form-group">
            <label class="form-label">Unique Tax Reference</label>
            <input class="form-control brama-input-mediumform" type="text" value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="checkbox-telephone-number" type="checkbox" value="checkbox-telephone-number">
              I'm a new business so I don't have a Unique Tax Reference
            </label>
        </div>

        <div class="brama-spacer"></div>

        <a href = "user_journey_2_review_details"><input type="submit" value="Business lookup" class="button"></a>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <a id="save_application" href="#" class="brama-vertically-centered-text2">Cancel business registration</a>

    </div>

    <div id="hidden-form-3">Form 3</div>

    <div id="hidden-form-4">Form 4</div>

    <div id="hidden-form-5">Form 5</div>

</main>

<script>
function show_div()
{
	var option = document.getElementById('choose');
	if (option.value == '1')
	{
		document.getElementById("hidden-form-1").style.display = 'inline-block';
     	document.getElementById("hidden-form-2").style.display = 'none';
      document.getElementById("hidden-form-3").style.display = 'none';
      document.getElementById("hidden-form-4").style.display = 'none';
      document.getElementById("hidden-form-5").style.display = 'none';	
    }
	else if (option.value =='2')
	{
		document.getElementById("hidden-form-1").style.display = 'none';
     	document.getElementById("hidden-form-2").style.display = 'inline-block';
      document.getElementById("hidden-form-3").style.display = 'none';
      document.getElementById("hidden-form-4").style.display = 'none';
      document.getElementById("hidden-form-5").style.display = 'none';
	}
    else if (option.value =='3')
  {
    document.getElementById("hidden-form-1").style.display = 'none';
      document.getElementById("hidden-form-2").style.display = 'none';
      document.getElementById("hidden-form-3").style.display = 'none';
      document.getElementById("hidden-form-4").style.display = 'none';
      document.getElementById("hidden-form-5").style.display = 'none';
  }
    else if (option.value =='4')
  {
    document.getElementById("hidden-form-1").style.display = 'none';
      document.getElementById("hidden-form-2").style.display = 'none';
      document.getElementById("hidden-form-3").style.display = 'none';
      document.getElementById("hidden-form-4").style.display = 'none';
      document.getElementById("hidden-form-5").style.display = 'none';
  }
    else if (option.value =='5')
  {
    document.getElementById("hidden-form-1").style.display = 'none';
      document.getElementById("hidden-form-2").style.display = 'none';
      document.getElementById("hidden-form-3").style.display = 'none';
      document.getElementById("hidden-form-4").style.display = 'none';
      document.getElementById("hidden-form-5").style.display = 'none';
  }


}

     document.getElementById("hidden-form-1").style.display = 'none';
     document.getElementById("hidden-form-2").style.display = 'none';
     document.getElementById("hidden-form-3").style.display = 'none';
     document.getElementById("hidden-form-4").style.display = 'none';
     document.getElementById("hidden-form-5").style.display = 'none';


    <!--
     // function show_div(x){
      //	document.getElementById(x).style.display = 'inline-block'
      //}


    //-->
</script>


{{/content}}

{{/layout}}
