{{<layout}}

{{$pageTitle}}
  HMRC > BRAMA 
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <div id = "global-breadcrumb" class = "header-context" style="background-color:transparent">
    <ol class = "group" role = "breadcrumbs">
        <li>
          <a href = "../../index">Home</a>
        </li>
        <li>
          <a href = "business_registration_index">Business registration</a>
        </li>
        <li>
          User journey 2
        </li>
      </ol>
    </div>

  <h2 class="heading-large brama-shrink-padding-3">Welcome to HMRC online services</h2>
  <!-- feel free to change this page to suit your needs -->

  <p class="brama-no-record">All businesses must to be register first in order to subscribe to any HMRC online service.</p>

  <h3 class="heading-medium brama-shrink-padding-1">Before you start</h3>

  <p>Use this service if you are a business without HMRC digital enrollments.</p>

  <p>What is next:</p>

  <ul class="list-bullet">
    <li>
      Register your business in HMRC (start now)
    </li>
    <li>
      Subscribe your business to any elegible HMRC online service after register your business  
    </li>
    <li>
      Access to the subcribed HMRC online service
    </li>
  </ul>

  <h3 class="heading-medium">About the business registration</h3>

  <p>Make sure you have read <a href="#">lorum</a> before completing the registration.
  </p>

  <div class="brama-spacer"></div>

  <a href = "user_journey_2_business_lookup"><input type="submit" value="Start now" class="button button-get-started"></a>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <a id="save_application" href="#" class="brama-vertically-centered-text">Cancel subscription</a>

</main>

{{/content}}

{{/layout}}
