{{<layout}}

{{$pageTitle}}
	HMRC > BRAMA 
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <div id = "global-breadcrumb" class = "header-context" style="background-color:transparent">
    <ol class = "group" role = "breadcrumbs">
        <li>
          <a href = "../../index">Home</a>
        </li>
        <li>
          <a href = "business_registration_index">Business registration</a>
        </li>
        <li>
          User journey 2
        </li>
      </ol>
    </div>

  <h2 class="heading-large brama-shrink-padding-3">ATED subscription</h2>
  <!-- feel free to change this page to suit your needs -->

       <nav role="navigation">
            <ol class="brama-progress">
                <li class="brama-progress-indicator">
                    1. Business details
                </li><li class="brama-progress-indicator brama-progress-thinner">
                  &nbsp;
              </li><li class="brama-progress-indicator">
                    2. Subscription details
                </li><li class="brama-progress-indicator brama-progress-thinner">
                  &nbsp;
              </li><li class="brama-progress-indicator">
                    3. Review details
                </li><li class="brama-progress-indicator brama-progress-thinner">
                  &nbsp;
              </li><li class="brama-progress-active">
                    4. Confirmation
                </li><li class="brama-progress-indicator brama-progress-wider">
                  &nbsp;
              </li>
            </ol>
        </nav>
    </div>

  <h3 class="heading-medium brama-shrink-padding-1">Confirmation</h3>

  <div class="brama-spacer"></div>

  <div class="brama-full-width">

      <div class="brama-confirmation">
        <h2 class="heading-large">
          <img src="/public/images/tick.png" style="padding: 0 10px 0 0" alt="">
         Your ATED subscription has been <br>successfully submitted
        </h2>
        <p>
          <p class="heading-small">Your ATED subscription reference is ATED123456</p>
        </p>
      </div>

  </div>

  <div class="brama-spacer"></div>

  <p>What is next:</p>

  <div class="brama-full-width">

    <table>
      <tr>
        <td class="brama-icon-step-1 text-medium"></td>
        <td class="text-medium">Lorum ipsum colabra est sentare pernsare sempre</td>
      </tr>
      <tr>
        <td class="brama-icon-step-2 text-medium"></td>
        <td class="text-medium">Aliquam at vincalure supra mandicoras columpia persae pentares</td>
      </tr>
      <tr>
        <td class="brama-icon-step-3 text-medium"></td>
        <td class="text-medium">Momentum copiare roman dolore causare</td>
      </tr>
    </table>

  </div>

  <div class="brama-spacer"></div>

  <div class="brama-spacer"></div>

  <a href = "user_journey_2_YTA2"><input type="submit" value="Return to Your Tax Account" class="button"></a>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <a id="save_application" href="#" class="brama-vertically-centered-text2">Lorum ipdum est</a>

</main>

{{/content}}

{{/layout}}
