{{<layout}}

{{$pageTitle}}
	HMRC - BRAMA
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge brama-shrink-padding">BRAMA</h1>
	<!-- feel free to change this page to suit your needs -->

	<h2 class="heading-large brama-shrink-padding-1">Prototypes</h2>

	<p>Access to all fideffernt prototypes agroup by project: </p>

	<ul class="brama-list-wider-spacing">
		<li>
			<a href="#">Business Registration</a>
		</li>
		<li>
			<a href="#">Agent Designation</a>
		</li>
		<li>
			<a href="/projects/ATED/ated_index">Annual Tax on Enveloped Dwellings (ATED)</a>
		</li>
		<li>
			<a href="#">Alcohol Warehouse Registration Scheme (AWRS)</a>
		</li>
		<li>
			<a href="#">Anti Money Laundry Scheme (AMLS)</a>
		</li>
	</ul>

	<!--

	<h2 class="heading-large brama-shrink-padding-2">Usability testing</h2>

	<p>Access to all usability testing prototypes organised by date: </p>

	<table class="brama-table">
		<tr>
			<td width="15%"><a href="#">Testing 1</a></td>
			<td width="15%">ATED</td>
			<td width="35%">Lorum ipsum colabra est</td>
			<td width="15%">10/01/2015</td>
			<td width="*"></td>
		</tr>
		<tr>
			<td><a href="#">Testing 2</a></td>
			<td>ATED</td>
			<td>Caesar seratus pernsare sempre</td>
			<td>15/01/2015</td>
			<td width="*"></td>
		</tr>
		<tr>
			<td><a href="#">Testing 3</a></td>
			<td>ATED</td>
			<td>Sentare dolore et lionidas</td>
			<td>20/01/2015</td>
			<td width="*"></td>
		</tr>
		<tr>
			<td><a href="#">Testing 4</a></td>
			<td>ATED</td>
			<td>CImaginas compensa est</td>
			<td>25/01/2015</td>
			<td width="*"></td>
		</tr>
		<tr>
			<td><a href="#">Testing 5</a></td>
			<td>BR</td>
			<td>Caesar menguares sitares</td>
			<td>30/01/2015</td>
			<td width="*"></td>
		</tr>
		<tr>
			<td><a href="#">Testing 6</a></td>
			<td>AWRS</td>
			<td>Dolore senatus romanus est</td>
			<td>30/01/2015</td>
			<td width="*"></td>
		</tr>
	</table>

	-->

</main>

{{/content}}

{{/layout}}
