{{<layout}}

{{$pageTitle}}
	HMRC - BRAMA
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge brama-shrink-padding">BRAMA</h1>
	<!-- feel free to change this page to suit your needs -->

	<h2 class="heading-large brama-shrink-padding-1">Working prototypes</h2>

	<p>Access to the latest prototypes for BRAMA projects: </p>

	<ul class="brama-list-wider-spacing">

		<li>
			<a href="/projects/ATED/latest/ated_index">Annual Tax on Enveloped Dwellings (ATED)</a>
		</li>
		<li>
			<a href="/projects/AWRS/latest/awrs_index">Alcohol Wholesaler Registration Scheme (AWRS)</a>
		</li>
		<li>
			<a href="#">Anti Money Laundering Scheme (AMLS)</a>
		</li>
	</ul>

	

	<h2 class="heading-large brama-shrink-padding-2">Usability testing prototypes</h2>

	<p>Access to all usability testing prototypes organised by date </p>

	<table class="brama-table">   
		<tr>
			<th width="10%" class="text-table-gray brama-address-column">Project</th>
			<th width="15%" class="text-table-gray brama-address-column">Date</th>
			<th width="75%" class="text-table-gray brama-address-column">Description</th>
		</tr>
		<tr>
			<td width="10%" style="vertical-align: top"><a href="/projects/AWRS/25jun2015/awrs_index">AWRS</a></td>
			<td width="15%" style="vertical-align: top">25/06/2015</td>
			<td width="75%" style="vertical-align: top">Minor content changes.</td>
		</tr>
		<tr>
			<td width="10%" style="vertical-align: top"><a href="/projects/ATED/17jun2015/ated_index">ATED</a></td>
			<td width="15%" style="vertical-align: top">17/06/2015</td>
			<td width="75%" style="vertical-align: top">Minor content changes.</td>
		</tr>
		<tr>
			<td width="10%" style="vertical-align: top"><a href="/projects/AWRS/12jun2015/awrs_index">AWRS</a></td>
			<td width="15%" style="vertical-align: top">12/06/2015</td>
			<td width="75%" style="vertical-align: top">Minor content changes (alpha 3).</td>
		</tr>
		<tr>
			<td width="10%" style="vertical-align: top"><a href="/projects/AWRS/11jun2015/awrs_index">AWRS</a></td>
			<td width="15%" style="vertical-align: top">11/06/2015</td>
			<td width="75%" style="vertical-align: top">Several changes in prototype to update groups and parnerships (alpha 3).</td>
		</tr>
		<tr>
			<td width="10%" style="vertical-align: top"><a href="/projects/AWRS/27may2015/awrs_index">AWRS</a></td>
			<td width="15%" style="vertical-align: top">27/05/2015</td>
			<td width="75%" style="vertical-align: top">First AWRS end to end prototype with final business registration process (alpha 2).</td>
		</tr>
		<tr>
			<td width="10%" style="vertical-align: top"><a href="projects/ATED/18may2015/ated_index">ATED</a></td>
			<td width="15%" style="vertical-align: top">18/05/2015</td>
			<td width="75%" style="vertical-align: top">Content corrections and minor improvements in both journeys following user feedback from testing on 16 May 2015.</td>
		</tr>
		<tr>
			<td width="10%" style="vertical-align: top"><a href="projects/ATED/16may2015/ated_index">ATED</a></td>
			<td width="15%" style="vertical-align: top">16/05/2015</td>
			<td width="75%" style="vertical-align: top">Corrections from previous prototype to make the business registation more clear for agents and business, agent and client index pages, and small content improvments in most of pages . This prototype has 2 journeys only (agents and client) to do everything from previous prototype. Agents don't need to subscribe to ATED in new prototype. Changes and improvments follow user feedback from testing on 13 May 2015.</td>
		</tr>
		<tr>
			<td width="10%" style="vertical-align: top"><a href="projects/ATED/13may2015/ated_index">ATED</a></td>
			<td width="15%" style="vertical-align: top">13/05/2015</td>
			<td width="75%" style="vertical-align: top">Prototype with 5 journeys to test clients adding reliefs or appointing an agent to claim relief on their behalf, as well agents accepting appoint request to claim client's reliefs. In both cases, client and agent register business first.</td>
		</tr>
		<tr>
			<td width="10%" style="vertical-align: top"><a href="#">AMLS</a></td>
			<td width="15%" style="vertical-align: top">01/01/2015</td>
			<td width="75%" style="vertical-align: top">Initial AMLS discovery interviews</td>
		</tr>
		<tr>
			<td width="10%" style="vertical-align: top"><a href="http://v4bjkn.axshare.com/prototype/login/v4bjkn/">AWRS</a></td>
			<td width="15%" style="vertical-align: top">08/04/2015</td>
			<td width="75%" style="vertical-align: top">Initial business registration protopyte before subscribe to AWRS (alpha 1).</td>
		</tr>
		<tr>
			<td width="10%" style="vertical-align: top"><a href="#">ATED</a></td>
			<td width="15%" style="vertical-align: top">01/01/2015</td>
			<td width="75%" style="vertical-align: top">Waiting description...</td>
		</tr>
		<tr>
			<td width="10%" style="vertical-align: top"><a href="#">ATED</a></td>
			<td width="15%" style="vertical-align: top">01/01/2015</td>
			<td width="75%" style="vertical-align: top">Waiting description...</td>
		</tr>
		<tr>
			<td width="10%" style="vertical-align: top"><a href="#">ATED</a></td>
			<td width="15%" style="vertical-align: top">01/01/2015</td>
			<td width="75%" style="vertical-align: top">Waiting description...</td>
		</tr>
		<tr>
			<td width="10%" style="vertical-align: top"><a href="#">ATED</a></td>
			<td width="15%" style="vertical-align: top">01/01/2015</td>
			<td width="75%" style="vertical-align: top">Waiting description...</td>
		</tr>
	</table>


	<h2 class="heading-large brama-shrink-padding-2">Private beta prototypes</h2>

	<p>Access to private beta prototypes organised by project </p>

	<table class="brama-table">   
		<tr>
			<th width="10%" class="text-table-gray brama-address-column">Project</th>
			<th width="15%" class="text-table-gray brama-address-column">Date</th>
			<th width="75%" class="text-table-gray brama-address-column">Description</th>
		</tr>
		<tr>
			<td width="10%" style="vertical-align: top"><a href="/projects/AWRS/beta18jun2015/awrs_index">AWRS</a></td>
			<td width="15%" style="vertical-align: top">18/06/2015</td>
			<td width="75%" style="vertical-align: top">Prototype apdated with use stories up to today.</td>
		</tr>
		<tr>
			<td width="10%" style="vertical-align: top"><a href="/projects/ATED/beta30jun2015/gov_uk">ATED</a></td>
			<td width="15%" style="vertical-align: top">30/06/2015</td>
			<td width="75%" style="vertical-align: top">Prototype apdated with use stories up to today.</td>
		</tr>
	</table>

	

</main>

{{/content}}

{{/layout}}
